@media only all and (max-width: 1024px) {

    .exemploGato {
        display:inline-block;
        width:105px;    
    }
}

@media only all and (min-width: 1025px) {

    .exemploGato {
        display:inline-block;
        width:115px;    
    }
}
